# Ignore everything inside inputs/ and outputs/
inputs/*
outputs/*

# EXCEPT the gitkeeps...
!inputs/.gitkeep
!outputs/.gitkeep
/venv

# ...AND EXCEPT the specific dummy files!
!inputs/dummy_car_1.jpg
!outputs/visual_proofs/dummy_car_1_result.jpg
!outputs/dummy_report.json